*{
	font-family: 'Encode Sans Expanded', sans-serif;
	transition: 0.5s;
}
#landing{
    background: url(../images/bg1.jpg) no-repeat fixed bottom;
    height: 100vh;
    background-size: cover;
}
.bg_fff{
    background: #fff;
}
.fff{
    color: #fff;
}
span.fff{
    color: #fff;
}
nav li a{ color: #fff; }
nav li a:hover{ color: #2f7392; }
.a10{ font-size: 48px; font-weight: 900; font-family: 'Muli', sans-serif; color: #46b1dccf; text-shadow: 1px 2px 5px #000;}
.fs20{
	font-size: 20px;
}
.myself{
	position: relative;
	font-family: 'Muli', sans-serif;
	margin:150px auto;
	border-top: 5px solid #fff;
	border-left: 5px solid #fff;
	border-right: 5px solid #fff;
	padding: 50px;
	color: #fff;
}
#socialMenu{
	width: 54.74452554744526%; /*300px;*/
	position: absolute;
	left: 22%;
	bottom: -30px;
}
#socialMenu:before{
	content: "";
	width: 50%;
	height: 5px;
	background-color: #fff;
	position: absolute;
	left: -125px;
	top: 15px;
}
#socialMenu:after{
	content: "";
	width: 50%;
	height: 5px;
	background-color: #fff;
	position: absolute;
	right: -140px;
	top: 15px;
}
.brr{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	background-color: #fff;
	line-height: 45px;
	margin-left: 10px;
}
.fs18{font-size: 20px;}
.pad30{
	padding: 30px;
}
#aboutSec{
	height: 100vh;
	background:url(../images/bg2.jpg) no-repeat fixed;
	background-size: cover;
	padding-top: 50px;
	color: #fff;
	font-family: 'Muli', sans-serif;
}
#aboutContent{
	margin-top: 50px;
}
.photo{
	width: 250px;
	height: 250px;
	border: 5px solid #fff;
	border-radius: 50%;
	background-color: rgba(125,125,125,0.6); 
	background: url(../images/photo.jpg) no-repeat 35% 50%;
	background-size: cover;
	    margin-right: 217px;
    margin-top: -35px;
}
#aboutText{
	min-height: 450px;
	/*border: 1px solid #fff;*/
	border-radius: 5px;
	margin: 0px;
	padding: 0px;
	/*padding-top: 20px;*/
}
#aboutText ul li{
	background-color: rgba(27,56,90,0.8);
	border:0px;
	border-bottom: 1px solid;
}
#skills{
	padding-top: 50px;
	background-color: rgba(85, 101, 115, 0.5);
}
#skillsContent{
	/*border: 5px double #ccc;*/
	height: 100vh;
	background-color: rgba(255,255,255,.15);
	padding: 0px 55px 0px 55px;
	box-sizing: border-box;
}
#experience{
	height: 100vh;
}