*{
	font-family: 'Encode Sans Expanded', sans-serif;
}
#landing{
    background: url(../images/bg1.jpg) no-repeat fixed bottom;
    height: 100vh;
    background-size: cover;
}
.bg_fff{
    background: #fff;
}
.fff{
    color: #fff;
}
nav li a{ color: #fff; }
nav li a:hover{ color: #2f7392; }
.a10{ font-size: 48px; font-weight: 900; font-family: 'Muli', sans-serif; color: #46b1dccf; text-shadow: 1px 2px 5px #000;}
.fs20{
	font-size: 20px;
}
.myself{
	width: 600px;
	text-align: center;
	padding: 50px;
	position: relative;
	font-family: 'Muli', sans-serif;
	margin:150px auto;
	border-top: 5px solid #fff;
	border-left: 5px solid #fff;
	border-right: 5px solid #fff;
}
#socialMenu{
	width: 300px;
	position: absolute;
	left: 145px;
	bottom: -30px;
}
#socialMenu:before{
	content: "";
	width: 160px;
	height: 5px;
	background-color: #fff;
	position: absolute;
	left: -145px;
	top: 15px;
}
#socialMenu:after{
	content: "";
	width: 160px;
	height: 5px;
	background-color: #fff;
	position: absolute;
	right: -150px;
	top: 15px;
}
.brr{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	background-color: #fff;
	line-height: 45px;
	margin-left: 10px;
}
.fs18{font-size: 20px;}