*{
	font-family: 'Encode Sans Expanded', sans-serif;
	transition: 0.5s;
}
body{
	font-size: 16px !important;
}
#landing{
    background: url(../images/bg1.jpg) no-repeat fixed bottom;
    height: 100vh;
    background-size: cover;
}
.bg_fff{
    background: #fff;
}
.fff{
    color: #fff;
}
span.fff{
    color: #fff;
}
nav li a{ color: #fff; }
nav li a:hover{ color: #2f7392; }
.a10{ font-size: 48px; font-weight: 900; font-family: 'Muli', sans-serif; color: #46b1dccf; text-shadow: 1px 2px 5px #000;}
.fs20{
	font-size: 20px;
}
.myself{
	position: relative;
	font-family: 'Muli', sans-serif;
	margin:150px auto;
	border-top: 5px solid #fff;
	border-left: 5px solid #fff;
	border-right: 5px solid #fff;
	padding: 50px;
	color: #fff;
}
#socialMenu{
	width: 54.74452554744526%; /*300px;*/
	position: absolute;
	left: 22%;
	bottom: -30px;
}
#socialMenu:before{
	content: "";
	width: 50%;
	height: 5px;
	background-color: #fff;
	position: absolute;
	left: -125px;
	top: 15px;
}
#socialMenu:after{
	content: "";
	width: 50%;
	height: 5px;
	background-color: #fff;
	position: absolute;
	right: -140px;
	top: 15px;
}
.brr{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	background-color: #fff;
	line-height: 45px;
	margin-left: 10px;
}
.fs18{font-size: 20px;}
.pad30{
	padding: 30px;
}
#aboutSec{
	min-height: 100vh;
	background:url(../images/bg2_1.jpg) no-repeat fixed;
	background-size: cover;
	padding-top: 50px;
	color: #fff;
	padding-left: 55px; 
	padding-right: 55px;
	padding-bottom: 55px;
	font-family: 'Muli', sans-serif;
	box-sizing: border-box;
}
.photo{
	width: 350px;
	height: 350px;
	border: 5px solid #fff;
	border-radius: 50%;
	background-color: rgba(125,125,125,0.6); 
	background: url(../images/photo.jpg) no-repeat 35% 50%;
	background-size: cover;
	    /*margin-right: 217px;*/
    /*margin-top: -35px;*/
}
#aboutText{

}
#aboutText li{
	/*background-color: rgba(27,56,90,0.8);*/
	border:0px;
	padding: 15px 0px 15px 0px;
	border-bottom: 1px solid #534c59;
}
#skills{
	padding-top: 50px;
	min-height: 100vh;
	padding-bottom: 100px;
	box-sizing: border-box;
	background: url(../images/bg3.jpg) no-repeat fixed;
}
#skillsContent{
	/*background-color: rgba(255,255,255,.15);*/
	padding: 0px 55px 0px 55px;
	box-sizing: border-box;
}
#skillSec{
	width: 15%;
    padding: 10px;
    box-shadow: 0px 0px 5px 1px #fff;
    text-align: center;
}
#About_head{
	width: 15%;
    padding: 10px;
    box-shadow: 0px 0px 5px 1px #fff;
    text-align: center;
}
#experience{
	background: url(../images/bg4.jpg) no-repeat fixed;
	min-height: 100vh;
	box-sizing: border-box;
}
#abtmetxt{
	/*transform: skewY(-5deg);*/
	/*background-color: rgba(120,120,120,0.4);*/
	padding: 25px;
	box-sizing: border-box;
}
#abtmetxt p{
	padding: 15px 0px 15px 0px;
	border-bottom: 1px solid #534c59;
}
a.btn-cv{
	background-color: rgba(100,100,100,0.5);
	padding: 10px 20px;
	color: #fff;
}
#lineMod{
	position: relative;
}
#lineMod:after{
	content: "";
	position: absolute;
	width: 1px;
	height: 350px;
	background-color: #ccc;
	left: 50%;
	top: 0px;
}
#exp_head{
	width: 20%;
    padding: 10px;
    box-shadow: 0px 0px 5px 1px #fff;
    text-align: center;
}
#portfolioSec{
	height: 100vh;
}
#port_head{
	width: 20%;
    padding: 10px;
    box-shadow: 0px 0px 5px 1px #fff;
    text-align: center;
}
#contactSec{
	height: 100vh;
}
#contact_head{
	width: 20%;
    padding: 10px;
    box-shadow: 0px 0px 5px 1px #fff;
    text-align: center;	
}
.active{
	background-color: #5b85af;
}